body {
	background-size: cover;
	background-position: center;
}

html {
	height: 100%
}

.square {
	background-color: #b2b5ba;
	margin-top: 70px;
	width: 75%;
  	padding: 20px 0;
	border-radius: 15%;
	font-family: 'Lobster', cursive;
  	margin-right: auto; 
 	 margin-left: auto;
}

button {
	background-color:#6189a8;
	border-radius: 15%;
}

footer {
	padding: 20px 5px 20px 5px;
	background-color: #a8a6a8;
	margin-top: 70px;
	width: 20%;
	border-radius: 15%;
}
