body {
	background: url("https://images.unsplash.com/photo-1466446105453-d151af699ac7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1055&q=80");
	background-size: cover;
	background-position: center;

}

html {
	height: 100%
}

.square {
	background-color: #BA5624;
	margin-top: 70px;
	width: 55%;
  	padding: 20px 0;
	border-radius: 15%;
	font-family: 'Lobster', cursive;
  	margin-right: auto; 
 	 margin-left: auto;
 	 color: #fff;
}

#convert {
	background-color:#381D2A;
	border-radius: 15%;
	margin-left: 15px;
}

footer {
	padding: 20px 5px 20px 5px;
	background-color: #FCDE9C;
	margin-top: 70px;
	width: 20%;
	border-radius: 45%;
}
